<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/admin_backup.css" />
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
	<header>
         <h1 id="shopname">Admin Pannel</h1>

    </header>
	{{{body}}}    
	<script type="text/javascript" src="/lib/superagent.0.15.7.min.js"></script>
</body>
</html>
