<ul>
<br>
  <h1 style="color:white; text-align:center;">IERG4999 - Admin Panel</h1>
  <li><a href="/admin/user">Update User</a></li>
  <li><a href="/admin/pic">Update Picture</a></li>
  <li><a class="active" href="/admin/loc">Update Location</a></li>
  <li><a href="/admin/result">Analytic Results</a></li>
  <li style="float:right">
  <form id="logout" method="POST" action="/admin/api/logout">
    <input type="submit" class="button" id="logout" method="POST" action="/admin/api/logout" value="Logout"/>
</form>
</li>
</ul>

<br>

<fieldset id="locNewpanel">
        <legend><b>Add New Location</b></legend>
        <form method="POST" action="/admin/api/location/add">
            <label for="Newlocname">Location Name *</label>
            <div><input id="Newlocname" type="text" name="lname" required pattern="^[\w- ']+$"/></div>

            <label for="NewuuidID">UUID *</label>
            <div><input id="NewuuidID" type="text" name="UUID" required pattern="^[\w- ']+$"/></div>

            <label for="NewmajID">Major *</label>
            <div><input id="NewmajID" type="text" name="major" required pattern="^[\w- ']+$"/></div>

            <label for="NewminID">Minor *</label>
            <div><input id="NewminID" type="text" name="minor" required pattern="^[\w- ']+$"/></div>

            <input type="submit" value="Submit" />
        </form>
</fieldset>

<br>

<fieldset id="locRmpanel">
        <legend><b>Remove Location</b></legend>
        <form method="POST" action="/admin/api/loc/remove">
            <label for="Rmlname">Location *</label><br>
            <select id="Rmlname" name="lid" required>
                <option value="">Please select a location</option>
            {{#each loc}}
                <option value="{{lid}}">{{lname}}</option>
            {{/each}}
            </select>
            <br><br>
            <input type="submit" value="Submit" />
        </form>
</fieldset>

<script type="text/javascript" src="/lib/admin-panel-loc.js"></script>