<ul>
<br>
  <h1 style="color:white; text-align:center;">IERG4999 - Admin Panel</h1>
  <li><a href="/admin/user">Update User</a></li>
  <li><a href="/admin/pic">Update Picture</a></li>
  <li><a href="/admin/loc">Update Location</a></li>
  <li><a class="active" href="/admin/result">Analytic Results</a></li>
  <li style="float:right"><input type="submit" class="button" id="logout" method="POST" action="/admin/api/logout"/ value="Logout"></li>
</ul>

<br>

<fieldset id="Resultpanel">
<legend><b>Select User</b></legend>
            <label for="Sluname">User Name *</label>
            <select id="Sluname" name="uid" required>
                <option value="">Please select a user</option>
            {{#each user}}
                <option value="{{uid}}">{{uname}}</option>
            {{/each}}
</select>
</fieldset>
