<ul>
<br>
  <h1 style="color:white; text-align:center;">CRS Context Awareness System</h1>
  <li><a href="/admin/user">Update User</a></li>
  <li><a href="/admin/pic">Update Picture</a></li>
  <li><a href="/admin/loc">Update Location</a></li>
  <li><a href="/admin/result">Analytic Results</a></li>
  <li><a class="active" href="/admin/beacon">Trace Beacon</a></li>
  <li style="float:right">
  <form id="logout" method="POST" action="/admin/api/logout">
    <input type="submit" class="button" id="logout" method="POST" action="/admin/api/logout" value="Logout"/>
</form>
</li>
</ul>

<table>
<caption>Beacon Information</caption>
  <tr>
    <th>Location</th>
    <th>UUID</th> 
    <th>Major</th>
    <th>Minor</th>
  </tr>
  {{#each loc}}
  <tr>
    <td>{{lname}}</td>
    <td>{{UUID}}</td>
    <td>{{major}}</td>
    <td>{{minor}}</td>
  </tr>
  {{/each}}
</table>
<button type="button" id="estimo">Click Me to go to estimo!</button>

<div id="estimoframe"></div>


<script type="text/javascript" src="/lib/admin-panel-Beacon.js"></script>

