<ul>
<br>
  <h1 style="color:white; text-align:center;">IERG4999 - Admin Panel</h1>
  <li><a href="/admin/user">Update User</a></li>
  <li><a href="/admin/pic">Update Picture</a></li>
  <li><a href="/admin/loc">Update Location</a></li>
  <li><a class="active" href="/admin/result">Analytic Results</a></li>
  <li style="float:right">
  <form id="logout" method="POST" action="/admin/api/logout">
    <input type="submit" class="button" id="logout" method="POST" action="/admin/api/logout" value="Logout"/>
</form>
</li>
</ul>

<br>

<fieldset id="Resultpanel">
<legend><b>Select User</b></legend>
		<form method="POST" action="/admin/api/result" > 
            <label for="Sluname">User Name *</label>
			<br>
            <select id="Sluname" name="uid" required>
                <option value="">Please select a user</option>
            {{#each user}}
                <option value="{{uid}}">{{uname}}</option>
            {{/each}}	
            </select>
			<br> 
            <label for="Sluname">Date *</label>
			<br>
			<input type="date" name="date">
			<br> 
            <label for="Sluname">Location *</label>
			<br>
			<select id="lname" name="lid" required>
                <option value="">Please select a location</option>
            {{#each loc}}
                <option value="{{lid}}">{{lname}}</option>
            {{/each}}
            </select>
            <input type="submit" value="Submit" />
			<div id = "Graph"></div>
		</form>
</fieldset>

<script type="text/javascript" src="/lib/admin-panel-result.js"></script>
