<ul>
<br>
  <h1 style="color:white; text-align:center;">IERG4999 - Admin Panel</h1>
  <li><a href="/admin/user">Update User</a></li>
  <li><a href="/admin/pic">Update Picture</a></li>
  <li><a href="/admin/loc">Update Location</a></li>
  <li><a href="/admin/result">Analytic Results</a></li>
  <li><a class="active" href="/admin/beacon">Trace Beacon</a></li>
  <li style="float:right">
  <form id="logout" method="POST" action="/admin/api/logout">
    <input type="submit" class="button" id="logout" method="POST" action="/admin/api/logout" value="Logout"/>
</form>
</li>
</ul>

<br>

<fieldset id="beaconLocpanel">
		<legend><b>Trace Beacon Location</b></legend>
		<a href="https://cloud.estimote.com">
  			<img src="/floorplan/CRS Floorplan_1F.jpg" alt="1/F floorplan" height="330" width="500" />
		</a>
		<br>
		<a href="https://cloud.estimote.com">
  			<img src="/floorplan/CRS Floorplan_2F.jpg" alt="2/F floorplan" height="330" width="500" />
		</a>
		<br>
		<a href="https://cloud.estimote.com">
  			<img src="/floorplan/CRS Floorplan_3F.jpg" alt="3/F floorplan" height="330" width="500" />
		</a>
		
</fieldset>

<script type="text/javascript" src="/lib/admin-panel-Beacon.js"></script>