{% extends "layout.html" %}
{% block body %}
  <div class="row">
        <div class="col-xs-12">
        <div class="box">
                <div class="box-header">
                  <h3 class="box-title">添加學生檔案</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <form action="edit_profile" method="post" accept-charset="utf-8" id="adduser" role="form">
                    <div class="form-group">
                      <label for="">學生姓名</label>
                      <input type="text" name="username" class="form-control" value="{{ student.username }}" placeholder="{{ student.name }}" readonly="readonly">
                    </div>
                    <div class="form-group">
                      <label for="">父親聯繫電話</label>
                      <input type="text" name="father_number" class="form-control" value="{{ student.father_number }}" placeholder="{{ student.father_number }}" readonly="readonly">
                    </div>
                    <div class="form-group">
                      <label for="">母親聯繫電話</label>
                      <input type="text" name="mother_number" class="form-control" value="{{ student.mother_number }}" placeholder="{{ student.mother_number }}" readonly="readonly">
                    </div>
                    <div class="form-group">
                      <label for="">學生ID</label>
                      <input type="text" name="student_id" class="form-control" value="{{ student.student_id }}" placeholder="{{ student.student_id }}"  readonly="readonly">
                    </div>
                    <div class="form-group">
                      <label for="">家庭地址</label>
                      <input type="text" name="address" class="form-control" value="{{ student.address }}" placeholder="{{ student.address }}" readonly="readonly">
                    </div>
                    <div class="form-group">
                      <label for="">email</label>
                      <input type="text" name="email" class="form-control" value="{{ student.email }}" placeholder="{{ student.email }}" readonly="readonly">
                    </div>
                    <div class="form-group">
                      <label for="">性別</label>
                      <input type="text" name="email" class="form-control" value="{{ student.gender }}" placeholder="{{ student.gender }}" readonly="readonly">
                    </div>
                    <div class="form-group">
                      <label for="">所在班級</label>
                      <input type="text" name="student_class" class="form-control" value="{{ student.student_class }}" placeholder="{{ student.student_class }}" readonly="readonly">
                    </div>
                    <div class="form-group">
                      <label for="">語言水平</label>
                      <input type="text" name="language_level" class="form-control" value="{{ student.language_level }}" placeholder="{{ student.language_level }}" readonly="readonly">
                    </div>
                    <div class="form-group">
                      <label for="">評價</label>
                      <input type="textarea" name="evaluate" class="form-control" value="{{ student.user_id }}" placeholder="{{ student.user_id }}" readonly="readonly">
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
        <div class="col-xs-12">
      </div>  
{% endblock %}
{% block js %}
<script>
   
</script>
{% endblock %}

