{% extends "layout.html" %}
{% block body %}
        <div class="row">
        <div class="col-xs-12">
        <div class="box">
                <div class="box-header">
                  <h3 class="box-title">{{ name }}學生信息</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <ul class="nav nav-tabs" role="tablist" id = "myTabs">
                    <li role="presentation" class="active"><a href="#chart1" aria-controls="chart" role="tab" data-toggle="tab">Chart1</a></li>
                    <li role="presentation"><a href="#chart_2" aria-controls="chart_2" role="tab" data-toggle="tab">Chart2</a></li>
                    <li role="presentation"><a href="#chart3" aria-controls="chart3" role="tab" data-toggle="tab">Chart3</a></li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="chart1" style="width: 700px;height:500px;">...</div>
                    <div id="chart_2" role="tabpanel" class="tab-pane">
                      <div>
                        <select name="username" class="form-control" id="date">
                          {% for date in datadate %}
                          <option value="{{ date }}">{{ date }}</option>
                          {% endfor %}
                        </select>
                        <button type="button" class="btn btn-primary" id="date-btn">OK</button>
                      </div>
                      <div  id="chart2" style="width: 700px;height:500px;">...</div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="chart3" style="width: 700px;height:500px;">...</div>
                  </div>
                    
                </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
        <div class="col-xs-12">
      </div>  
{% endblock %}
{% block js %}
<script src="static/plugins/echarts/echarts.js"></script>
<script type="text/javascript" charset="utf-8">
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
var aj = $.ajax({
      url: 'student_data1', // 跳转到 action  
      data: {
        username:"{{ name }}"
      },
      type: 'post',
      cache: false,
      dataType: 'json',
      success: function(data) {
          var myChart1 = echarts.init(document.getElementById('chart1'));
          var option1 = {
            tooltip: {
              trigger: 'axis',
              axisPointer: { // 坐标轴指示器，坐标轴触发有效
                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
              }
            },
            legend: {
              data: JSON.parse(data.data_picture),
            },
            grid: {
              left: '3%',
              right: '4%',
              bottom: '3%',
              containLabel: true
            },
            xAxis: [{
              type: 'category',
              data: JSON.parse(data.date)
            }],
            yAxis: [{
              type: 'value'
            }],
            series: JSON.parse(data.picture)
          };
          myChart1.setOption(option1); 
        // window.location.reload();  
        
     },  
     error : function() {  
          // view("异常！");  
          alert("异常！");  
     }  
});
$("#date-btn").click(function(){
  var aj2 = $.ajax({
      url: 'student_data2', // 跳转到 action  
      data: {
          username : "{{ name }}",
          date:$("#date").val()
      },
      type: 'post',
      cache: false,
      dataType: 'json',
      success: function(data) {
          var picture2 = data.picture
          var total = data.total
          var myChart2 = echarts.init(document.getElementById('chart2'));
          var option2 = {
            title: {
              text: '{{ name }}',
              subtext: 'date',
              x: 'center'
            },
            tooltip: {
              trigger: 'item',
              formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
              orient: 'vertical',
              left: 'left',
              data: picture2
            },
            series: [{
              name: '访问来源',
              type: 'pie',
              radius: '55%',
              center: ['50%', '60%'],
              data: total,
              itemStyle: {
                emphasis: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }]
          };
          myChart2.setOption(option2);
          // window.location.reload();
     },  
     error : function() {  
          // view("异常！");  
          alert("异常！");  
     }  
});
})
var aj3 = $.ajax({
  url: 'student_data3', // 跳转到 action  
  data: {
    username: "{{ name }}"
  },
  type: 'post',
  cache: false,
  dataType: 'json',
  success: function(data1) {
    var date = data1.datadate
    var data = data1.dataid
    var picture = data1.picture
    var myChart3 = echarts.init(document.getElementById('chart3'));
    var option3 = {
      tooltip: {
        trigger: 'axis',
        position: function(pt) {
          return [pt[0], '10%'];
        }
      },
      title: {
        left: 'center',
        text: '图片使用情况',
      },
      legend: {
        top: 'bottom',
        data: data
      },
      toolbox: {
        show: true,
        feature: {
          dataView: {
            show: true,
            readOnly: false
          },
          magicType: {
            show: true,
            type: ['line', 'bar', 'stack', 'tiled']
          },
          restore: {
            show: true
          },
          saveAsImage: {
            show: true
          }
        }
      },
      xAxis: {
        type: 'category',
        boundaryGap: false,
        data: date
      },
      yAxis: {
        type: 'value',
        boundaryGap: [0, '100%']
      },
      dataZoom: [{
        type: 'inside',
        start: 0,
        end: 10
      }, {
        start: 0,
        end: 10
      }],
      series: [{
        name: '图片ID',
        type: 'line',
        smooth: true,
        symbol: 'none',
        sampling: 'average',
        itemStyle: {
          normal: {
            color: 'rgb(255, 70, 131)'
          }
        },
        areaStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: 'rgb(255, 158, 68)'
            }, {
              offset: 1,
              color: 'rgb(255, 70, 131)'
            }])
          }
        },
        data: data
      }]
    };
    myChart3.setOption(option3);

  },
  error: function() {
    // view("异常！");  
    alert("异常！");
  }
});


</script>
{% endblock %}


