{% extends "layout.html" %}
{% block body %}
<!-- <link rel="stylesheet" href="static/plugins/picture/js/vendor/normalize.css"> -->
<div class="row" id="showpicture">
  
              <!-- {% for picture in pictures %} -->
<!--               <div class="col-md-6"> 
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ picture.picture}}</h3>
                </div>
                <form role="form">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">使用人</label>
                      <label for="exampleInputEmail1">{{ picture.username }}</label>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">使用时间</label>
                      <label for="exampleInputEmail1">{{ picture.time }}</label>
                    </div>
                    <div class="form-group">
                      <img src="{{ picture.address }}" alt="">  
                    </div>
                  </div>

                  <div class="box-footer">
                  </div>
                </form>
              </div>
              </div> -->
              <!-- {% endfor %} -->

         
</div>  
{% endblock %}
{% block js %}
<!-- <script src="static/plugins/picture/js/vendor/jquery-1.7.2.min.js" type="text/javascript"></script> -->

<script src="static/plugins/picture/js/vendor/plugins.js" type="text/javascript" ></script>
<script src="static/plugins/picture/jquery.sly.js" type="text/javascript" ></script>
<script src="static/plugins/picture/js/vendor/horizontal.js" type="text/javascript" ></script>
<script> 
// $frame.sly({
//   horizontal: 1,
//   itemNav: "basic",
//   dragContent: 1,
//   startAt: 3,
//   scrollBy: 1
// });
/*第一次读取最新通知*/
$(document).ready(function(){
  setTimeout(function() {
    Push();
  },
  200);
/*30轮询读取函数*/
setInterval(function() {

    Push();

  },
  3000);
});


/*请求函数的ajax*/

function Push() {


  $.ajax({

    type: "POST",
    url: "realtime_data",
    data: {
    t: 3
  },
  beforeSend: function() {},
  success: function(picture) {
      console.log(picture)
      var tmpHTML = ''
      $.each(picture, function(index, value) {
      tmpHTML += '<div class="col-md-6"> <div class="box box-primary"><div class="box-header with-border"><h3 class="box-title">'+value.picture+'</h3></div><form role="form"><div class="box-body"><div class="form-group"><label for="exampleInputEmail1">使用人</label><label for="exampleInputEmail1">'+value.username+'</label></div><div class="form-group"><label for="exampleInputEmail1">使用时间</label><label for="exampleInputEmail1">'+value.time+'</label></div><div class="form-group"><img src="'+value.address+'" alt=""></div></div><div class="box-footer"></div></form></div></div>'
      })
      $('#showpicture').html(tmpHTML)


    }


  });
}
</script>  

{% endblock %}

